/*=============== ABOUT PAGE CSS ===============*/
@import url('styles.css');

body {
    color: var(--text-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for dark/light mode */
}

/*=============== QUESTIONS ===============*/

.faq_class{
  color: aliceblue;

    padding: 3rem 1.5rem; /* Adjusted padding for better spacing */
    text-align: center;
    opacity: 0; /* Initially hide the section */
    animation: fadeInUp 1s forwards; /* Apply fade-in and move-up animation */
}
  
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .section__title{
    color: var(--first-color);
  }

.questions{
    background-color: var(--first-color-lighten);
    
  }
  
  .questions__container{
    gap: 1.5rem;
    padding: 1.5rem 0;
  }
  
  .questions__group{
    display: grid;
    row-gap: 1.5rem;
  }
  
  .questions__item{
    background-color: var(--container-color);
    border-radius: .25rem;
  }
  
  .questions__item-title{
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
  }
  
  .questions__icon{
    font-size: 1.25rem;
    color: var(--title-color);
  }
  
  .questions__description{
    font-size: var(--smaller-font-size);
    padding: 0 1.25rem 1.25rem 2.5rem;
  }
  
  .questions__header{
    display: flex;
    align-items: center;
    column-gap: .5rem;
    padding: .75rem .5rem;
    cursor: pointer;
  }
  
  .questions__content{
    overflow: hidden;
    height: 0;
  }
  
  .questions__item,
  .questions__header,
  .questions__item-title,
  .questions__icon,
  .questions__description,
  .questions__content{
    transition: .3s;
  }
  
  .questions__item:hover{
    box-shadow: 0 2px 8px hsla(var(--hue), 4%, 15%, .15);
  }
  
  /*Rotate icon, change color of titles and background*/
  .accordion-open .questions__header,
  .accordion-open .questions__content{
    background-color: var(--first-color);
  }
  
  .accordion-open .questions__item-title,
  .accordion-open .questions__description,
  .accordion-open .questions__icon{
    color: #FFF;
  }
  
  .accordion-open .questions__icon{
    transform: rotate(45deg);
  }
  